* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
section header{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    margin-left: 20px;
    list-style: none;
}
section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color: #4584ef;
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 0;
    border-radius: 30px;  
    border: 1px solid #ccc;  
    outline: none;
    font-size: 16px;
}
section .main .searchbox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.icons > * {
    cursor: pointer;
}

section .main .buttons{
    margin-top: 20px;
}
section .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    border: 1px solid #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    outline: none;
}
section .main .buttons button:hover{
     background-color: #f5f0f0;
     border-radius: 3px;
} 

.g-offer {
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
}
section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(212, 210, 210, 0.5);
}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    color: #5c5b5b;
    margin-right: 25px;
}
section .footer .row ul li a:hover{
    text-decoration: underline;
}